.hero-img-text {
    background-color: rgba(0, 128, 128, 0.438);
    border-radius: 15px 50px;
    width: auto;
    height: 150px; 
    margin: 10px;
}

.carousel .carousel-item {
    width: 500px !important;
}

.house-logo {
    max-height: 45px;
    margin-top: 10px;
    
}

.nav-list {
    margin-left: 50px;
}

.nav-list > li {
    margin-left: 10px;
    font-style: italic;
}