.hero-img-text {
    background-color: rgba(0, 128, 0, 0.301);
    border-radius: 50px;
    width: auto;
    height: 150px; 
    margin: 10px;
}

.carousel .carousel-item {
    width: 500px !important;
}

.house-logo {
    max-height: 45px;
    margin-top: 10px;
    
}

.nav-list {
    margin-left: 20px;
    position: absolute;
    right: 0px;
}

.nav-list > li > a {
    margin-left: 50px;
    font-size: 1.7em;
    color: rgba(0, 128, 0, 0.651);
}


.bio {
    text-align: justify;
}

.img-desc {
    color: white;
    position: absolute;
    top: 8px;
    left: 25px;
    background-color: rgba(0, 128, 0, 0.651);
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
}

.daycare-images {
    height: 500px;
}

.card {
    height: 450px;
    width: 400px;
    overflow: hidden;
   }
   .card img {
    height: 375px;
    width: auto;
   }

.tag-line > li {
    display: inline-block;
    font-size: 1.7em;
    color: rgba(0, 128, 0, 0.651);
    margin-right: 12px;
    font-style: italic;
}

.tag-line-footer > li {
    display: inline-block;
    font-size: 1.7em;
    color: white;
    margin-right: 12px;
    font-style: italic;
}

